In [1]:
import accountingkits as ak
import rapidfuzz

In [2]:
list_1 = [
    "exploring new places",
    "enjoying the sunshine",
    "learning something new",
    "connecting with friends",
    "creating memorable moments",
    "finding joy in small things",
    "embracing new experiences",
    "adventuring into the unknown",
    "appreciating the present",
    "making the most of every day",
    None
]

list_2 = [
    "exporing new placess",
    "enjoying the sunshien",
    "learnin somthing new",
    "connectin with frends",
    "creatng memorable momnts",
    "finding joy in smal things",
    "embracin new experinces",
    "adventurin into the unknow",
    "appreciatin the present",
    "makn the most of every day",
    "makn the most of every day"
]

In [3]:
ak.DataPrepare.FuzzyMatchT.list_fuzzymatch_max_df(
    querying_listarr=list_1,
    choice_list=list_2,
    scorer=rapidfuzz.fuzz.ratio,
    processes=10,
    chunksize=3
)

Duplicates or Null/Na in querying are detected and automatically removed


Duplicates or Null/Na in choices are detected and automatically removed

100%|██████████| 4/4 [00:00<00:00, 255.87it/s]

                   origin_query                  match_list  match_score
0          exploring new places        exporing new placess    95.000000
1         enjoying the sunshine       enjoying the sunshien    95.238098
2        learning something new        learnin somthing new    95.238098
3       connecting with friends       connectin with frends    95.454544
4    creating memorable moments    creatng memorable momnts    96.000000
5   finding joy in small things  finding joy in smal things    98.113205
6     embracing new experiences     embracin new experinces    95.833336
7  adventuring into the unknown  adventurin into the unknow    96.296295
8      appreciating the present     appreciatin the present    97.872337
9  making the most of every day  makn the most of every day    96.296295

In [4]:
ak.DataPrepare.FuzzyMatchT.list_fuzzymatch_nlargests_df(
    querying_listarr=list_1,
    choice_list=list_2,
    scorer=rapidfuzz.fuzz.ratio,
    max_nums=3,
    processes=10,
    chunksize=3
)

Duplicates or Null/Na in querying are detected and automatically removed


Duplicates or Null/Na in choices are detected and automatically removed

100%|██████████| 4/4 [00:00<00:00, 128.00it/s]

                    origin_query                  match_list  match_score
0          enjoying the sunshine       enjoying the sunshien    95.238098
1          enjoying the sunshine  adventurin into the unknow    51.063831
2          enjoying the sunshine        exporing new placess    48.780487
3           exploring new places        exporing new placess    95.000000
4           exploring new places     embracin new experinces    60.465115
5           exploring new places     appreciatin the present    46.511627
6         learning something new        learnin somthing new    95.238098
7         learning something new       enjoying the sunshien    51.162792
8         learning something new  finding joy in smal things    50.000000
9        connecting with friends       connectin with frends    95.454544
10       connecting with friends     appreciatin the present    52.173912
11       connecting with friends       enjoying the sunshien    50.000000
12    creating memorable moments    creatng memorable momnts    96.000000
13    creating memorable moments     appreciatin the present    53.061226
14    creating memorable moments       connectin with frends    42.553192
15   finding joy in small things  finding joy in smal things    98.113205
16   finding joy in small things        learnin somthing new    46.808510
17   finding joy in small things       enjoying the sunshien    45.833332
18  adventuring into the unknown  adventurin into the unknow    96.296295
19  adventuring into the unknown       enjoying the sunshien    53.061226
20  adventuring into the unknown        learnin somthing new    45.833332
21      appreciating the present     appreciatin the present    97.872337
22      appreciating the present       enjoying the sunshien    53.333332
23      appreciating the present       connectin with frends    53.333332
24     embracing new experiences     embracin new experinces    95.833336
25     embracing new experiences        exporing new placess    62.222221
26     embracing new experiences       connectin with frends    47.826088
27  making the most of every day  makn the most of every day    96.296295
28  making the most of every day       enjoying the sunshien    40.816326
29  making the most of every day     embracin new experinces    39.215687

In [5]:
ak.DataPrepare.FuzzyMatchT.list_fuzzymatch_threshold_df(
    querying_listarr=list_1,
    choice_list=list_2,
    scorer=rapidfuzz.fuzz.ratio,
    threshold=50,
    processes=10,
    chunksize=3
)

Duplicates or Null/Na in querying are detected and automatically removed


Duplicates or Null/Na in choices are detected and automatically removed

100%|██████████| 4/4 [00:00<00:00, 256.02it/s]

                    origin_query                  match_list  match_score
0           exploring new places        exporing new placess    95.000000
1           exploring new places     embracin new experinces    60.465115
2          enjoying the sunshine       enjoying the sunshien    95.238098
3          enjoying the sunshine  adventurin into the unknow    51.063831
4         learning something new       enjoying the sunshien    51.162792
5         learning something new        learnin somthing new    95.238098
6        connecting with friends       connectin with frends    95.454544
7        connecting with friends     appreciatin the present    52.173912
8     creating memorable moments    creatng memorable momnts    96.000000
9     creating memorable moments     appreciatin the present    53.061226
10   finding joy in small things  finding joy in smal things    98.113205
11     embracing new experiences        exporing new placess    62.222221
12     embracing new experiences     embracin new experinces    95.833336
13  adventuring into the unknown       enjoying the sunshien    53.061226
14  adventuring into the unknown  adventurin into the unknow    96.296295
15      appreciating the present       enjoying the sunshien    53.333332
16      appreciating the present       connectin with frends    53.333332
17      appreciating the present     appreciatin the present    97.872337
18  making the most of every day  makn the most of every day    96.296295