In [1]:
import accountingkits as ak
import pandas as pd

 accountingkits Version: 0.1.1.230208_alpha

In [2]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [3]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
iris.apply(ak.DataPrepare.NaDupOutlierT.na_percent_float,
           axis=0)

sepal_length    0.0
sepal_width     0.0
petal_length    0.0
petal_width     0.0
species         0.0
dtype: float64

In [5]:
iris.apply(ak.Stats.SummarizeT.summary_quantile_ser,axis=0)

D:\Appfiles\Dropbox_69449_files\Dropbox\Legion5ip\NUS_RA\accountingkits\accountingkits\Stats\SummarizeT.py:16: SyntaxWarning: Some Error in selfmade, use pd.describe instead
  warnings.warn('Some Error in selfmade, use pd.describe instead',

        sepal_length  sepal_width  petal_length  petal_width species
Mean        5.843333     3.057333      3.758000     1.199333     NaN
Median      5.800000     3.000000      4.350000     1.300000     NaN
Sd          0.825301     0.434411      1.759404     0.759693     NaN
count            NaN          NaN           NaN          NaN     150
freq             NaN          NaN           NaN          NaN      50
p25         5.100000     2.800000      1.600000     0.300000     NaN
p75         6.400000     3.300000      5.100000     1.800000     NaN
top              NaN          NaN           NaN          NaN  setosa
unique           NaN          NaN           NaN          NaN       3